
@{
    ViewBag.Title = "Giay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListNewProduct = (List<Adidas.Models.Enity.Sanpham>)ViewBag.ProductNew;
}

<section>
    <div class="wrap">
        <div class="dichvu">
            <!-- MODAL -->
            <div class="dichvu-item">
                <i class="fas fa-car"></i>
                <p class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">TRẢ HÀNG DỄ DÀNG</p>
                <!-- MODAL -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1>MIỄN PHÍ GIAO HÀNG TRÊN 1.300.000 VNĐ</h1>
                                <p>Miễn phí giao hàng cho tất cả các đơn hàng từ 1.300.000 VNĐ trở lên.</p>
                                <p>Cho các đơn hàng còn lại, phí giao hàng tiêu chuẩn được áp dụng.</p>
                                <p>Hãy kiểm tra Điều Khoản & Điều Kiện giao hàng của chúng tôi để biết thêm chi tiết.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dichvu-item">
                <i class="fas fa-box-open"></i>
                <p class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">THANH TOÁN THẺ TÍN DỤNG</p>
                <!-- MODAL -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1>TRẢ HÀNG DỄ DÀNG</h1>
                                <p>Nếu bạn không hài lòng với đơn hàng của mình, bạn có thể được hoàn lại tiền.</p>
                                <p>Vui lòng xem Chính Sách Trả Hàng của chúng tôi để biết thêm chi tiết.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dichvu-item">
                <i class="fas fa-money-check"></i>
                <p class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">MIỄN PHÍ GIAO HÀNG TRÊN 1.300.000 VNĐ</p>
                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h1>NAY ĐÃ CÓ THỂ THANH TOÁN VỚI THẺ TÍN DỤNG!</h1>
                                <p>Giờ đây bạn có thể thanh toán bằng thẻ Visa và Mastercard! Lựa chọn phương thức</p>
                                <p>Thanh toán bằng thẻ tín dụng ở bước thanh toán. Mua các sản phẩm yêu thích ngay thôi!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- list -->
        <div class="list">
            <a href="" id="back"><i class="fas fa-chevron-left"></i> Trở Lại</a> /
            <a href="@Url.Action("Index","Home")">Trang Chủ</a> /
            <a href="">Giày</a>
        </div>
        <div class="product-header">
            <h2>Giày</h2>

        </div>
        <div class="product-body">
            @foreach (var item in ListNewProduct)
            {
                <div class="product-body-item">
                    <a href="detail.html">
                        <img id="img1" src="@item.Img" alt="">
                        <img id="img2" src="@item.Img2" alt="">
                        <a href="">@item.Name</a>
                        <p>@(string.Format("{0:#,##0}", item.Price)) VNĐ</p>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

